*{
   margin: 0.0;
   padding: 0.0;
   font-family: "Poppins", sans-serif;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
 
.header{
          min-height: 118vh;/*--min-height: 118vh--*/
          width: 98%;
	  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Mapping_the_World.jpg);
          background-size: 100%;
          background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
          position: relative;
          }

/*--.header{min-height: 118vh;
          width: 95%;
	  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Geospatial_Technology.png); 
	  background position: center;
	  background size: cover;
	  position: relative;
 }--*/


.header h3{
       font-size: 14px;  
       text-color: #fff;/*--#FF0000 #fb00be--*/
       color: #0ff;
       text-align: left;
}

/*--h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
     color: #fff;
     content-align: left;
}--*/



.header row{
      margin-top: 50%;
      display: flex;
      justify-content: space-between;
          }	

.header-col{
      flex-basis: 0%;
      /*--background: #FF0000;/*--#fff3f3--*/--*/
      border-radius: 20px;
      margin-bottom: 10%;
      padding: 2px 1px;
      box-sizing: border-box;
      transition: 0.5s;
          }	




/*--img{
      width: 50%;
      height: 215px;
     /*-- margin-left: 0px;/*--margin-left: 140px;--*/--*/
      place-item: center;
      background-color: #f0f0f0;/*--#f0f0f0--*/
      /*--background-image: linear-gradient(rgba(40,0,0,0.7),rgba(40,0,0,0.7)),url(images/LOGO.jpg); linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/LOGO.jpg)--*/
      text-align: center;
    }--*/

 h1{
         font-size: 6px;
         color: #fff;  /*---#fff7f7----*/
}


/*--img{
      width: 15%;/*--width: 100%--*/
      background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/LOGO.jpg);
      /*--display: flex;--*/
      background size: cover;
      padding: 0.5% 0.5%;
      justify-content: space-between;
      align-items: center;
      content-align: center;
 }--*/



.layer a img{
      width: 0;
      background: transparent;
      display: flex;
      padding: 0.5% 1%;
      justify-content: space-between;
      align-items: center;
      text-align: center;
 }




a.img{
      /*--width: 55px;--*/
      background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/LOGO.jpg);
      width: 115%;
      display: flex;
      padding: 2.5% 10%;
      justify-content: space-between;
      align-items: center;
      content-align: center;
 }




.nav a{
      display: flex;
      padding: 2% 6%;
      justify-content: space-between;
      align-items: center;
 }
.nav i{
      display: flex;
      padding: 2% 6%;
      justify-content: space-between;
      align-items: center;
 }


img{
      width: 5%;
      height: 215px;
     /*-- margin-left: 0px;/*--margin-left: 140px;--*/--*/
      place-item: center;
      background-color: #f0f0f0;/*--#f0f0f0--*/
      text-align: center;
    }




/*--.img{
       width: 2px;
       width: 95%;
       /*--image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(cl.jpg);--*/
       content-align: center;       
     }--*/

.nav-links{
      flex: 1;
      text-align: right;
 }

nav-links url li{
      life-style: none;
      display: inline-block;
      padding: 8px 1px;
      position: relative;
 }


.nav-links url li{
      life-style: none;
      display: inline-block;
      padding: 8px 1px;
      position: relative;
 }


.nav-links url li a{
      color: #ff0;
      text-decoration: none;
      font-size: 13px;
      position: relative;
 }
.nav-links url li::after{
      content: "";
      width: 0%;
      height: 2px;
      background: #fff; /*--#f44336--*/
      display: block;
      margin: auto;
      transition: 0.5s;
}
.nav-links url li:hover::after{
       width: 100%;
}
.text-box{
          width: 100%;
          color; #fff;
          position: absolute;
          top: 48%;
          left: 50%;
          transform: translate(-50%,-50%);
          text-align: center;
}
.text-box h1{
         font-size: 42px;
         color: #fff;
}

/*--.text-box h2{
         font-size: 8px;
         color: #fff; /*--#fff--*/
}--*/
/*--.header h3{
         font-size: 8px;
         color: #fff;
         text-align: left;
}--*/

.text-box p{
         margin: 10px 0 40px;
         font-size: 24px;
         color: #FFFDD0;/*--#FFFDD0--*/
}
.text-box a{
         margin: 10px 0 10px;
         font-size: 14px;
         color: #FF0000;  /*--#FF0000--*/
}
.hero-btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13xpx;
        background: transparent;
        position: relative;
        curser: pointer;
}
.hero-btn:hover{
        border: 1px solid #fff;/*--#f44336--*/
        background: #f44336;/*--#fff--*/
        transition: 1s;
}
nav .fa{
       display: none;
}
@media(max-width: 700px){
.text-box h1{
             font-size: 2px;}
.nav-links url li{
        display: block;
}
.nav-links{
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -250px;
      text-align: left;
      z-index: 2;
      transition: 1s;
   }
nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      curser: pointer;
    }
.nav-links url{
      padding: 70px;
      }

.hero-btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 0px solid #fff;
        padding: 12px 34px;
        font-size: 30px;
        background: transparent;
        position: relative;
        curser: pointer;
  }

}


/*----service-----*/
.service{
       width: 80%;
       margin: auto;
       text-align: center;
       padding-top: 50px;
}
/*--service h1{
  color: #fff3f3
  font-size: 36px:
  font-weight: 600; 
}--*/
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
      margin-top: 50%;
      display: flex;
      justify-content: space-between;
}
.service-col{
      flex-basis: 30%;
      background: #fff3f3;
      border-radius: 10px;
      margin-bottom: 10%;
      
      padding: 2px 1px;
      box-sizing: border-box;
      transition: 0.5s;
}
h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
}
.service-col:hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
        .row{
             flex-direction: column;
 }
}

/*-------Technologies--------*/
.technology{
          width: 80%;
          margin: auto;
          text-align: center;
          padding-top: 50px;
         }

.technology h1{
  font-size: 12px:
  font-weight: 600; 
}
.technology p{
  color: #777; /*--FF0000--*/
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
      margin-top: 30%;
      display: flex;
      justify-content: space-between;
}
.technology-col{
      /*--display: flex;--*/
      flex-basis: 48.5%;
      background: #f9f9f7;/*--#fff3f3--*/
      border-radius: 20px;
      margin-bottom: 1%;
      left: 50%;
      text-align: center;
      /*--content-align: center;--*/
      /*--padding: 20px 1px;--*/
      box-sizing: border-box;
      transition: 0.5s;
}
.technology-col img{
      width: 50%;
      padding: 1px 1px;
      top: 1000px;
      left: 480px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      text-align: center;
}

.h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
     font-color: #fff;
}

.layer{
       background: transparent;/*--transparent--*/
       background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/LOGO.jpg);
       background-repeat: no-repeat;/*--background-repeat: no-repeat;--*/
       background-size: 50%;
       display: flex;
       height: 7.2%;/*--height: 14.8%;--*/
       width: 10%;/*--width: 10%;--*/
       position: absolute;
       top: 25px;/*--top: 25px;--*/
       left: 48px;
       transition: 0.5s;
       curser: pointer;
}
.layer:hover{
       background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/LOGO.jpg);
       background-repeat: no-repeat;
       /*--background: rgba(255,0,0,0.07);--*//*--rgba(225,0,0,0.7)--*//*--background: rgba(255,0,0,0.05);--*//*--rgba(225,0,0,0.7)--*/
       /*--background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/LOGO.jpg);--*/
}
.layer h3{
       width: 100%;
       font-weight: 500; 
       font-color: #fff;
}

.technology-col:hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
        .row{
             flex-direction: column;
 }
}


/*-------Experience--------*/
.experience{
          width: 80%;
          margin: auto;
          text-align: center;
          padding-top: 50px;
}

h1{
  font-size: 12px:
  font-weight: 600; 
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
      margin-top: 1%;
      display: flex;
      justify-content: space-between;
}
.experience-col{
      flex-basis: 600px;
      background: #fff3f3;
      border-radius: 1px;
      margin-bottom: 1%;
      padding: 2px 1px;
      box-sizing: border-box;
      content-align: center;
      transition: 0.5s;
      }
.experience-col img{
      width: 50%;
      content-align: center;
      margin-left: auto;
      margin-right: auto;
      }

h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
}


.experience-col:hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
        .row{
             flex-direction: column;
 }
}
